<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		">
	<!-- 公共的Bean配置到主配置文件中team1 -->
	<bean id="lrlsb" name="teamaaa,teambbb" class="cn.itcast.bean.team.Team1" ></bean>
</beans>