<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		">
	<!-- Spring管理的资源全部是以Bean的形式存在 -->
	<bean id="userService" class="cn.itcat.spring.ioc.UserService">
		<!-- 为该Bean提供资源 -->
		<property name="name" value="itcast"/>
		<property name="year" value="2014"/>
	</bean>
</beans>